
<button (click)="onGoBack()">Back to Sellers</button>

<!---Þarf að vera ngIf, því það tekur smá tíma að sækja og annars kastar hann villu -->
<div *ngIf="seller">
    <img src="{{seller.imagePath}}" alt="Image of seller" />
    <p><b>Nafn: </b> {{seller.name}}</p>
    <p><b>Flokkur: </b> {{seller.category}}</p>
</div>


<!---TODO! This shall be abstracted into product card and rendered here-->
<div class="col-12 col-md-3 push-md-9"> <p> hahaha</p></div>
<table style="width:80%">
    <tr>
      <th>Vörur</th>
      <th>Flokkur</th>
    </tr>
    <tr *ngFor="let p of products">
      <td>{{p.name}}</td>
      <td>{{p.price}}</td>
    </tr>
</table>
