<div class="container" *ngIf="seller">
	<div class="row">
    <div class="imgthumb img-responsive">
      <div class="col-md-4">
        <img src="{{seller.imagePath}}" alt="Image of seller" class="seller-img"/>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-2">
            <p><b>Söluaðili:</b></p>
          </div>
          <div class="col-md-4">
            <p>{{seller.name}}</p>
          </div>
          <div class="col-md-4">
            <!-- NOTE! glyphicon-edit er klasinn fyrir edit takka!-->
					  <a (click)=onClickOnAddSeller(seller.id) class="btn btn-default btn-xs pull-right" role="button" >
              <i class="glyphicon"></i>Bæta við söluaðila</a>
					  <a class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#edit-seller" role="button" >
              <i class="glyphicon glyphicon-edit"></i>Breyta söluaðila</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <p><b>Vöruflokkur:</b></p>
          </div>
          <div class="col-md-4">
           <p>{{seller.category}}</p>
          </div>
        </div>
      </div>
    </div>
		<button class="btn btn-default btn-back" (click)="onGoBack()">Til baka</button>
  </div>

	<div class="container-fluid">
			<h2>Allar Vörur</h2>
			<div *ngFor="let p of products">
	  	 	 <app-product-card
				 		[product]="p"
						(productUpdated)="onProductEdited($event)"
				 ></app-product-card>
			</div>
	</div>
</div>

<div class="modal fade" id="edit-seller" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Seller</h4>
      </div>
      <div class="modal-body">
        <div class="container" *ngIf="seller">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-2">
                <p><b>Nýtt nafn söluaðila:</b></p>
              </div>
              <div class="col-md-4">
                <input name="newNameForSeller" [(ngModel)]="newNameForSeller" type="text" placeholder={{seller.name}}/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <p><b>Nýtt nafn vöruflokks:</b></p>
              </div>
              <div class="col-md-4">
                <input name="newCategoryForSeller" [(ngModel)]="newCategoryForSeller" type="text" placeholder={{seller.category}}/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)=onClickSaveNewSellerInfo(newCategoryForProduct) type="button" class="btn btn-default" data-dismiss="modal">Vista breytingar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
