
<button (click)="onGoBack()">Back to Sellers</button>

<!---Þarf að vera ngIf, því það tekur smá tíma að sækja og annars kastar hann villu -->
<div *ngIf="seller">
  <table>
    <tr>
      <td>
        <img src="{{seller.imagePath}}" alt="Image of seller" />
      </td>
      <td>
        <p><b>Nafn: </b> {{seller.name}}</p>
        <p><b>Flokkur: </b> {{seller.category}}</p>
      </td>
    </tr>
  </table>
</div>

<table style="width:80%">
    <tr>
      <th>Vörur</th>
      <th>Flokkur</th>
    </tr>
    <tr *ngFor="let p of products">
      <td>{{p.name}}</td>
      <td>{{p.price}}</td>
    </tr>
</table>
