
.seller-img {
  height: 300px;
  width: 300px;
}

.tab {
  margin-top: 20px;
}

.btn {
  margin: 20px;
}

.btn-change {
  float: right;
  margin: 20px;
}

.title {
  font-size: 30px;
  font-style: bold;
}
