.productDiv {
  height: 200px;
  width: 200px;
  border: 1px solid grey;
  margin: 10px;
  float: left;
}

img {
  padding: 4px;
}

button {
  padding: 8px;
}

.middle {
  width: 80%;
  margin: auto;
}
